:root {
  --main-padding: 24px;
  --main-radius: 4px;
}

.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 1.5fr 1.5fr 0.2fr;
  grid-template-areas: 'left-side main  main right-side' 'left-side main  main right-side' 'left-side main  main right-side' 'left-side main  main right-side';
  text-align: center;
}

main {
  justify-self: center;
  align-self: center;
  grid-area: main;
  border-radius: var(--main-radius);
  max-width: 500px;
}
form {
  width: 100%;
}
h1 {
  margin-top: 0px;
}
.left-side {
  grid-area: left-side;
}
.right-side {
  grid-area: right-side;
}
.signin-container {
  padding: 32px;
  border-radius: var(--main-radius);
}
.signin-btn {
  margin-top: 32px;
}
.homepage {
  text-align: center;
  margin: 15% auto;
  width: 30%;
}
@media only screen and (max-width: 550px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1.5fr 1.5fr 0.5fr;
    grid-template-areas: 'left-side' 'main' 'main' 'right-side';
    margin-top: 0px;
  }
}
